header{
    width: auto;
    height: 10em;
    background-color:antiquewhite;
    margin: auto;

}
nav{
    height: 70%;
    margin-bottom: 0px;
}
ul{
    list-style: none;
    text-align: center;
    display: block;
    
}
li  {
    display: inline-block;

}

main{
    width: auto;
    height: 50em;
    background-color: azure;
}  
footer{
    width: auto;
    height: 10em;
    background-color:antiquewhite;
    margin: auto;

}